# Copy this file to .env and set your actual secret there.
# This value is only loaded by the server route in development and must also be configured in production.

RESEND_SEND_API_KEY=replace_with_your_re_jJgLeGLw_BZRgpguz6k27mx1k6BfhgjXQ
